
<title>Profile</title>
{% extends 'index.html' %}

<div class="container">
    {% block content %}
        <h1>Profile</h1>
        <p>Username: {{user}}</p>
        <p>First name: {{user.first_name}}</p>
        <p>Last name: {{user.last_name}}</p>
        <p>Email: {{user.email}}</p>
        <p>Address Line 1: {{requester.address_line1}}</p>
        <p>Address Line 2: {{requester.address_line2}}</p>
        <p>City: {{requester.city}}</p>
        <p>State or Territory: {{requester.state_or_territory}}</p>
        <p>Zip Code: {{requester.zipcode}}</p>
        <p>Fax: {{requester.fax}}</p>

{% endblock %}

</div>



